
<div>
    {{#each products}}
        <hr>
            <li>Nombre Producto: {{this.title}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
        </hr>
    {{/each}}
</div>