<div>
    BUENAS!
    <hr>
        <li>Nombre: {{response.firstName}}</li>
        <li>Apellido: {{response.lastName}}</li>
        <li>Edad: {{response.age}}</li>
    </hr>
    <button method="DELETE" onclick="cerrarSession()"><a href="login">CERRAR SESSION</a></button>
</div>
<script src="/js/profile.js"></script>