<div>
    BUENAS!
    <hr>
        <li>Nombre: {{response.first_name}}</li>
        <li>Apellido: {{response.last_name}}</li>
        <li>Edad: {{response.age}}</li>
    </hr>
            <button method="DELETE" onclick="cerrarSession()">CERRAR SESSION</button>
</div>
<script src="./js/profile.js"></script>