<h1>REAL TIME PRODUCTS</h1>
<div>
    {{#each products}}
        <hr>
            <li>Nombre Producto: {{this.title}}</li>
            <li>Precio: {{this.price}}</li>
            <li>Stock: {{this.stock}}</li>
        </hr>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>